        <div class="footer">
            <h3>	&copy; Classic On Demand Service Pvt. Ltd.</h3>
            <p>
                <a href="#">
                    <img src="/stylesheets/facebook.png">
                </a>
                <a class="px-4" href="#">
                    <img src="/stylesheets/instagram.png">
                </a>
                <a href="#">
                    <img src="/stylesheets/twitter.png">
                </a>
            </p>
        </div>
    
    
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
		<script>
		    $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:4
                    }
                }
            })
		</script>

    </body>
</html>