<%- include('partials/header'); -%>

<div class="container" id="aboutus">
    <div class="card">
        <div class="card-body text">
            <h2 class="card-title py-5 px-5" style="text-align:center;">What is CODS?</h2>
            <hr>
                <p class="py-5 px-5">Classic-On-Demand-Service (CODS) is recognized as the fastest-growing startup in India. We are a mobile marketplace for local services. We help customers hire trusted professionals for all their service needs. We are staffed with young, passionate people working tirelessly to make a difference in the lives of people by catering to their service needs at their doorsteps. We provide housekeeping services which consist of Plumbers, Electricians, Carpenters, Cleaning and Pest Control. We also provide personal services like beauty, spa, mobile and other appliance repairs etc. Be it getting a plumbing job done, improving your fitness through yoga, learning to play the guitar, decorating your home or getting candid photos of your wedding clicked, we are a sure shot destination for your service needs.</p>
            <hr>
            <h2 class="card-title py-5 px-5" style="text-align:center;">Meet the visionaries</h2>
            <div class="card-group py-5">
                <div class="card">
                    <img src="/stylesheets/ubaid1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mohammad Ubaid</h5>
                        <p class="card-text">Ubaid leads the technology and product development at CODS. He has spent the majority of the last decade at the silicon valley. He was a software engineer at twitter in San Fransisco after which he started an autorickshaw startup in India. Raghav holds a Bachelor of Science degree in Computer Science and Engineering from the University of California, Berkeley. In  his free time, Raghav loves to venture outdoors and try his balance while slack-lining and bouldering. Raghav is a dance enthusiast who will miss no opportunity to groove to Westcoast Swing and Rock-n-Roll.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/stylesheets/daniyal.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Daniyal Khan</h5>
                        <p class="card-text">Daniyal is responsible for operations and service provider on-boarding at CODS, he was a consultant with The Boston Consulting Group, advising fortune 500 companies across India, Germany and South East Asia. He holds a B.Tech in Electrical Engineering from IIT Kanpur and an MBA from IIM Ahmedabad. When not busy at the UrbanClap, Abhiraj enjoys immersing himself in interesting experiences be it running marathons, sky-diving in Spain, scuba diving in the Andamans or cooking his wife Urvi's favourite dish.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/stylesheets/harsh.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Harsh Shukla</h5>
                        <p class="card-text">Harsh is responsible for marketing and product growth at CODS. Prior to the CODS Varun worked at the Boston Consulting Group where he advised leading companies across USA, Turkey and India on business strategy and on Qualcomm Inc. where he designed next generation mobile technology. He holds a B.tech in Electrical Engineering from IIT Kanpur. When not building UrbanClap Varun likes to check out new coffee shops, explore Delhi with his Polaroid and go for a run at the Lodhi Gardens, his favourite spot in the city.</p>
                    </div>
                </div>
 
            </div>
        </div>
    </div>
</div>



























<%- include('partials/footer'); -%>