<%- include('partials/header'); -%>

<div class="jumbotron jumbotron-fluid" id="ac-jumbo">
    <div class="container">
        <h1 style="font-weight:">AC Service & Repair</h1>
        <h5>
            <ul>
                <p class="py-2"><li>Power Jet AC Service for better cooling</li></p>
                <p class="py-2"><li>90 day repair warranty</li></p>
                <p class="py-2"><li>Background checked and trained technichians with geniune parts & fixed pricing</li></p>
            </ul>
        </h5>
    </div>
</div>

<div class="container-fluid content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                <div class="card-body text">
                    <h5 class="card-title">AC Service in Delhi</h5>
                    <p>Get your Window or Split AC service by CODS ...</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                <div class="card-body text">
                    <h5 class="card-title">Technicians</h5>
                    <h6 class="card-subtitle mb-2 text-muted">100+ of AC Service and Repair Professionals</h6>
                    <hr>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Dilawar</h6>
                                <p class="text-muted">Sector-12, Noida</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.7</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Raju</h6>
                                <p class="text-muted">Vasnat kunj, New Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.8</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Ramesh Kumar</h6>
                                <p class="text-muted">Gurugram,Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.9</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Bal Ram</h6>
                                <p class="text-muted">Secotr-18,Noida</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.7</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        
                    </p>
                </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container-fluid content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                <div class="card-body text">
                    <h3 class="card-title">All About CODS AC Repair</h3>
                    <hr>
                    <h5 class="card-title">AC Repair</h5>
                    <p class="card-text">
                    Like any other machinery, an appliance such as AC needs to be maintained and looked after for its healthy functioning. Hence, the appliance should receive a proper service before the start of summer season. After all, nothing can be worse than a broken or faulty AC. Hunting a service personnel for AC repair in the sultry weather can be a hassle. You can now book a professional either for service and repair within minutes from your home. You don’t even need to clear your schedule as you can choose your desirable time slot. Urban Company’s AC repair service has proven to be a blessing for our customers as we continue to receive happy testimonials and ratings from our customers.
                </p>
                    <div class="container  py-3">
                        <h5 class="card-title">Why CODS AC Service and Repair?</h5>
                    <p class="card-text">
                    The <b>Services offered </b>:-
                    <ul>
                        <p class="py-3">
                            <li>
                            Installing an AC:  Choose this service for AC installation at your place. The professional will ensure that the AC is running properly as gas pressure and performance of the appliance will be checked post AC installation. 
                        </li>
                        </p>
                        <p class="py-3">
                            <li>
                            Uninstalling an existing AC: Select this option when you need professionals to dismount an AC. The appliance will be checked before the AC uninstallation.
                        </li>
                        </p>
                        <p class="py-3">
                            <li>
                            Wet services: This service includes an end to end cleaning of your AC (which is not faulty). Cooling coils, condenser coils, outer panel, drain and filet pipes will be extensively cleaned and washed. However, high-pressure jet pumps will not be used for the cleaning purpose.  Tick this service when you want your AC to be properly cleaned.
                        </li>
                        </p>
                    </ul>
                </p>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
























<%- include('partials/footer'); -%>