<%- include('partials/header'); -%>

<div class="container" id="confirmation">
    <h1 style="color: green;">Booking Confirmed!</h1>
    <p>
        <img src="https://media.giphy.com/media/l41lUjUgLLwWrz20w/giphy.gif">
    </p>
</div>

<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/cods";
  }, 4000)
</script>






<%- include('partials/footer'); -%>