<%- include('partials/header'); -%>

<div class="jumbotron jumbotron-fluid" id="massage-men-jumbo">
    <div class="container">
        <h1 style="font-weight:">Body Massage at Home for Men</h1>
        <h5>
            <ul>
                <p class="py-2"><li>Trained male therapists</li></p>
                <p class="py-2"><li>Hassle free service</li></p>
                <p class="py-2"><li>Hygiene friendly</li></p>
            </ul>
        </h5>
    </div>
</div>

<div class="container-fluid content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                <div class="card-body text">
                    <h5 class="card-title">Body Massage at home for men</h5>
                    <p>Rejuvenate yourself with body massage by therapists ...</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                <div class="card-body text">
                    <h5 class="card-title">Therapists</h5>
                    <h6 class="card-subtitle mb-2 text-muted">50+ Massage for men</h6>
                    <hr>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Rita</h6>
                                <p class="text-muted">Sarai Kale khan, New Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.7</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Sonu Kumar</h6>
                                <p class="text-muted">Dwarka, New Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.8</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Jyoti Singh</h6>
                                <p class="text-muted">Ashok Vihar,Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.9</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Arti Sharma</h6>
                                <p class="text-muted">Kalyanpuri,Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.7</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        
                    </p>
                </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container-fluid content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                <div class="card-body text">
                    <h3 class="card-title">All About Massage for Men</h3>
                    <hr>
                    <h5 class="card-title">Massage at Home for Men</h5>
                    <p class="card-text">
                        With hectic work schedules and busy lifestyles, it is tough to make time to relax the body and mind. And yet, taking the occasional break is necessary, whether in the form of a long vacation, or a relaxing 60 minute massage. We understand this need that most men feel, but rarely get the time to address. Which is why we crafted our unique Massage at Home service for men - a relaxing and therapeutic massage by an experienced massage therapist, served to you in your home.
                    </p>
                    <div class="container  py-3">
                        <h5 class="card-title">Why Men need a monthly massage?</h5>
                    <p class="card-text">
                    
                    <ul>
                        <p class="py-3">
                            <li>
                            <b>Do you suffer from stress?</b>
                            <br>
                            
                            Research has shown that a simple 30 minute head and shoulder massage immediately relaxes the brain and calms the nerves.
                        </li>
                        </p>
                        <p class="py-3">
                            <li>
                            <b>Do we suffer from any kind of body ache?</b>
                            <br>
                            
                            A monthly massage relieves all kinds of body aches. If you suffer from pain, particularly your lower back or shoulders, a medium-pressure Thai massage or a deep-pressure Deep Tissue massage would offer relief.
                        </li>
                        </p>
                        <p class="py-3">
                            <li>
                                <b>Do you work out regularly? </b>
                                <br>
                                
                                You should add massage therapy to your fitness plan. This increased flexibility makes regular exercise easier, and even more impactful. A massage reduces the strain, soreness, and tension in the muscles.
                        </li>
                        </p>
                    </ul>
                </p>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
























<%- include('partials/footer'); -%>