<%- include('partials/header'); -%>

<div class="jumbotron jumbotron-fluid" id="salon-jumbo">
    <div class="container">
        <h1 style="font-weight:">Book Salon Service at Home</h1>
        <h5>
            <ul>
                <p class="py-2"><li>Branded Cosmetics are used</li></p>
                <p class="py-2"><li>Hygiene Friendly</li></p>
                <p class="py-2"><li>Beautician with minimum 5 years of experience</li></p>
            </ul>
        </h5>
    </div>
</div>

<div class="container-fluid content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                <div class="card-body text">
                    <h5 class="card-title">Beauty Parlour at home</h5>
                    <p>Tired of going to salon? CODS is here for your help ...</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                <div class="card-body text">
                    <h5 class="card-title">Beauticians</h5>
                    <h6 class="card-subtitle mb-2 text-muted">100+ of Beauty Service Professionals</h6>
                    <hr>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Rita</h6>
                                <p class="text-muted">Sarai Kale khan, New Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.7</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Sonu Kumar</h6>
                                <p class="text-muted">Dwarka, New Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.8</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Jyoti Singh</h6>
                                <p class="text-muted">Ashok Vihar,Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.9</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <img src="/stylesheets/avatar.jpg" id="avatar">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h6>Arti Sharma</h6>
                                <p class="text-muted">Kalyanpuri,Delhi</p>
                                <i><img src="/stylesheets/star.png"></i><span class="rating">4.7</span>
                                <a href="/cods/service-booking"><button type="button" class="btn btn-dark mx-5">Book Now</button></a>
                            </div>
                        </div>
                        
                    </p>
                </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container-fluid content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                <div class="card-body text">
                    <h3 class="card-title">All About CODS Salon at Home</h3>
                    <hr>
                    <h5 class="card-title">Salon at Home</h5>
                    <p class="card-text">
                    In the midst of our hectic schedules, we don’t find a suitable time for the beauty services that we need. Days pass and we don’t get the time to go to a salon and avail the required beauty services.
                    Now, you don’t have to wait for the weekend to make time for your salon appointment. 
                    CODS brings you Salon at home in Delhi. You can now avail beauty services at home by bringing the Parlour at home.
 
                    Getting beauty parlour services in Delhi don’t have be to exhausting now.
                </p>
                    <div class="container  py-3">
                        <h5 class="card-title">How is Home Salon better than Regular Salon?</h5>
                    <p class="card-text">
                    The <b>Advantages of Salon at Home </b>over regular salon:-
                    <ul>
                        <p class="py-3">
                            <li>
                            While availing any beauty services, you need to have a hygienic environment to avoid infections. Well, there is no other Beauty Parlour which is more hygienic than your home. 
                            <b>CODS professional beauticians take care of your hygiene</b>. All the products used are <b>sterile</b>
                            , so you don’t get any infections or allergies. 
                        </li>
                        </p>
                        <p class="py-3">
                            <li>
                            Salon at home in Delhi has <b>flexible timing</b>. You can choose your time slot according to your convenience.
                        </li>
                        </p>
                        <p class="py-3">
                            <li>
                            Salon at home brings you all the beauty parlour services at <b>best pricing</b>. With great salon packages, you can avail a number of beauty services at your home in Delhi at a great price.
                        </li>
                        </p>
                    </ul>
                </p>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
























<%- include('partials/footer'); -%>