<%- include('partials/header') %>

<div class="container" id="sorry">
     <div class="card">
        <div class="card-body text">
            <h1>Sorry, this service is currently unavailable</h1>
        </div>
        <hr>
        <p  class="py-5 px-5">
            Currently available services are :<br>
            <em>Salon At Home for Women, AC Server and Repair, Massage for Men</em>
        </p>
     </div>
    
</div>




<%- include('partials/footer') %>